.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdownItems {
  position: absolute;
  text-align: left;
  background-color: hsla(225, 14%, 26%, 1);
}

.alignItemsToTheRight {
  right: 0;
}

.icon {
  background-color: hsla(225, 14%, 26%, 1);
}
